# Credentials and Secrets
config.json
vision-api-credentials.json
*.pem
*.key
.env
credentials/
secrets/
logo.jpg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment (keep these even if not using venv now)
venv/
ENV/
env/
.env
.venv
env.bak/
venv.bak/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
